.swiper {
  width: 50%;
  height: 100%;
}
.swiper-button-next,
.swiper-button-prev {
  font-weight: bolder;
  color: #2a6171;
}

/* For hidding up-down arrow in input[type=number] */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
