* {
  margin: 0px;
  padding: 0px;
}
.react-chatbot-kit-chat-container {
  width: 500px;
}
.react-chatbot-kit-chat-message-container {
  width: 100%;
}

.react-chatbot-kit-chat-bot-message {
  margin-left: 0px;
  background-color: #d7f7f5;
  color: #2a6171;
}

.react-chatbot-kit-chat-bot-message-arrow {
  border-right: 10px solid #d7f7f5;
}

.react-chatbot-kit-chat-input {
  outline: none;
}

.react-chatbot-kit-chat-header {
  background-color: #a3dbd6;
  color: #2a6171;
  font-size: medium;
  font-weight: 500;
}

.react-chatbot-kit-chat-bot-avatar-container {
  background-color: #2a6171;
  width: 32px;
  height: 32px;
}

.react-chatbot-kit-user-avatar-container {
  background-color: #2a6171;
  width: 32px;
  height: 32px;
}

.react-chatbot-kit-chat-bot-avatar {
  margin-top: 4px;
}

.react-chatbot-kit-user-avatar {
  margin-top: 3px;
}

.react-chatbot-kit-chat-bot-avatar-letter {
  color: #d7f7f5;
}

.react-chatbot-kit-chat-btn-send {
  background-color: #2a6171;
}

@media (max-width: 767px) {
  .react-chatbot-kit-chat-header {
    font-size: small;
  }
  .react-chatbot-kit-chat-container {
    width: 370px;
  }
  .react-chatbot-kit-chat-bot-message {
    font-size: small;
  }
}

@media (max-width: 400px) {
  .react-chatbot-kit-chat-container {
    width: 100vw;
  }
}
